#searchResults {
  max-width: 450px;
  width: 100%;
  border-radius: 25px;
  background-color: #fff;
  border: #7a7a7a;
  padding: 0px 25px;
  font-size: 14px;
  color: #7a7a7a;
  position: absolute;
  z-index: 99;
  display: none;
}

#searchResults li {
  border-bottom: 1px solid #f1f1f1;
  padding: 5px 25px;
}

#searchResults li a {
  color: #333;
  font-size: 14px;
}

#searchResults li:hover {
  background-color: #f1f1f1;
}

#displayImage {
  display: none;
  position: absolute;
  top: auto;
  left: 720px;
  width: 200px;
  height: 200px;
}

#displayImage img {
  border-radius: 25px;
}

#topTvAnime,
#upcomingSeries {
  overflow-x: scroll;
}

#topTvAnime img {
  height: 450px;
  object-fit: cover;
}

#upcomingSeries img {
    height: 250px;
    object-fit: cover;
  }

.mostWatchCard{
    height: 370px;
}

#randomCharacter span.name {
    background-color: #ee626b;
    padding: 5px 10px;
    border-radius: 25px;
    color: #fff;
    top: -15px;
    position: relative;
    font-weight: 600;
    
}